//foundations

@import './foundations/fonts';
@import './foundations/variables';
@import './foundations/mixins';
@import './foundations/functions';

//components
@import './components/menuCatalogue';
@import './components/footer';
@import './components/header';
@import './components/banner';
@import './components/card';


//elements

@import './elements/button';
@import './elements/icons';

//layout

@import './layouts/layouts';
*{box-sizing: border-box;}

p {
    font-family: 'Cotta';
    color: aquamarine;
    font-size: 200px;
}

body{
    margin: 0;
}