.menu {

    background-color: $grey;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
    &__list{
        list-style: none;       
        margin: auto;
        padding: 0;
        &.-un{
            grid-column: 2/4;
            grid-row: 1;
        }
        &.-deux{
            grid-column: 4/6;
            grid-row: 1;
        }
        &.-trois{
            grid-column: 6/8;
            grid-row: 1;
        }
        &.-quatre{
            grid-column: 8;
            grid-row: 1;
        }

    }
    &__item{
        padding: 5px;
        margin: auto;
        display: inline-block;

        &.-logo img{
            height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        img{
            height: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__link{
        text-decoration: none;
        font-family: $Content;
        color: black;
        padding-left: 60px;
        padding-right: 60px;
        
    }
    
    
}



body{
    margin: 0;
}