.banner {
    width: 100%;
    background-color: $green;
    padding:63px;

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content:space-evenly;
    }
    &__item {
        text-align: center;
   

    }
    &__desc{
        font-size: $sizesmallcontent;
        font-family: $Content;
        color:$grey;
    }
    &__icon{
        color: $grey;
        svg *{
            stroke:currentColor;
        }
    }
}